<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuer.zuerlvdoubanservice.service.DictService">
    <resultMap id="BaseResultMapFromValueAndLabel" type="com.zuer.zuerlvdoubancommon.vo.DictValue">
        <result column="DICT_CODE" jdbcType="VARCHAR" property="value" />
        <result column="DICT_VALUE" jdbcType="VARCHAR" property="label" />
    </resultMap>

    <select id="queryDictByDictType" parameterType="String" resultMap="BaseResultMapFromValueAndLabel">
        SELECT * FROM DICT
        WHERE DICT_TYPE = #{dictType,jdbcType=VARCHAR}
        ORDER BY DICT_CODE
    </select>

</mapper>