<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuer.zuerlvdoubanservice.service.ElementService">
    <resultMap id="BaseResultMap" type="com.zuer.zuerlvdoubancommon.entity.Element">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="CODE" jdbcType="VARCHAR" property="code" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
        <result column="METHOD" jdbcType="VARCHAR" property="method" />
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="crt_user" jdbcType="VARCHAR" property="crtUser" />
        <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
        <result column="crt_host" jdbcType="VARCHAR" property="crtHost" />
        <result column="attr1" jdbcType="VARCHAR" property="attr1" />
        <result column="attr2" jdbcType="VARCHAR" property="attr2" />
        <result column="attr3" jdbcType="VARCHAR" property="attr3" />
        <result column="attr4" jdbcType="VARCHAR" property="attr4" />
    </resultMap>
    <select id="getUserAuthorityElementByUserId" parameterType="String" resultMap="BaseResultMap">
        SELECT distinct E.CODE FROM ELEMENT_GROUP EG
            INNER JOIN ELEMENT E
            ON EG.ELEMENT_ID=E.ID
            AND EG.GROUP_ID IN (
                SELECT GROUP_ID FROM USER_GROUP_MEMBER WHERE USER_ID=#{userId,jdbcType=VARCHAR}
                UNION
                SELECT GROUP_ID FROM USER_GROUP_LEADER WHERE USER_ID=#{userId,jdbcType=VARCHAR}
            )
            INNER JOIN MENU M
            ON E.MENU_ID=M.ID

    </select>


    <select id="getUserElementAllByUserId" parameterType="String" resultMap="BaseResultMap">
        SELECT distinct E.CODE FROM  ELEMENT E
        INNER JOIN MENU M
        ON E.MENU_ID=M.ID

    </select>
</mapper>