<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuer.zuerlvdoubanservice.service.MenuService">
    <resultMap id="BaseResultMap" type="com.zuer.zuerlvdoubancommon.entity.Menu">

        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="CODE" jdbcType="VARCHAR" property="code" />
        <result column="TITLE" jdbcType="VARCHAR" property="title" />
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
        <result column="HREF" jdbcType="VARCHAR" property="href" />
        <result column="ICON" jdbcType="VARCHAR" property="icon" />
        <result column="TYPE" jdbcType="VARCHAR" property="type" />
        <result column="ORDER_NUM" jdbcType="VARCHAR" property="orderNum" />
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
        <result column="PATH" jdbcType="VARCHAR" property="path" />
        <result column="ENABLED" jdbcType="VARCHAR" property="enabled" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="crt_user" jdbcType="VARCHAR" property="crtUser" />
        <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
        <result column="crt_host" jdbcType="VARCHAR" property="crtHost" />
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
        <result column="upd_user" jdbcType="VARCHAR" property="updUser" />
        <result column="upd_name" jdbcType="VARCHAR" property="updName" />
        <result column="upd_host" jdbcType="VARCHAR" property="updHost" />
        <result column="attr1" jdbcType="VARCHAR" property="attr1" />
        <result column="attr2" jdbcType="VARCHAR" property="attr2" />
        <result column="attr3" jdbcType="VARCHAR" property="attr3" />
        <result column="attr4" jdbcType="VARCHAR" property="attr4" />
        <result column="attr5" jdbcType="VARCHAR" property="attr5" />
        <result column="attr6" jdbcType="VARCHAR" property="attr6" />
        <result column="attr7" jdbcType="VARCHAR" property="attr7" />
        <result column="attr8" jdbcType="VARCHAR" property="attr8" />
    </resultMap>

    <select id="queryMenuGroupByGroupIdAndGroupType" parameterType="String" resultMap="BaseResultMap">

        SELECT m.* FROM MENU_GROUP mg
        INNER JOIN MENU m ON
        mg.MENU_ID=m.ID
        AND mg.GROUP_ID=#{groupId,jdbcType=VARCHAR}
        AND mg.GROUP_TYPE=#{groupType,jdbcType=VARCHAR}
        AND mg.MENU_TYPE='menu'

    </select>
</mapper>