<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuer.zuerlvdoubanservice.service.MovieChartsService">
    <resultMap id="CalendarMovieShowCountBaseResultMap" type="com.zuer.zuerlvdoubancommon.charts.CalendarMovieShowCount">
        <result column="count" jdbcType="NUMERIC" property="count" />
        <result column="day" jdbcType="VARCHAR" property="day" />
    </resultMap>
    <resultMap id="BarMovieShowCountBaseResultMap" type="com.zuer.zuerlvdoubancommon.charts.BarMovieShowCount">
        <result column="count" jdbcType="NUMERIC" property="count" />
        <result column="type" jdbcType="VARCHAR" property="type" />
    </resultMap>
    <resultMap id="PieShowMovieYearCountBaseResultMap" type="com.zuer.zuerlvdoubancommon.charts.PieMovieShowCount">
        <result column="value" jdbcType="NUMERIC" property="value" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="year" jdbcType="VARCHAR" property="year" />
    </resultMap>
    <!--查询一年之中每一天的观影量-->
    <select id="queryCalendarMovieShowCount" parameterType="java.util.Map" resultMap="CalendarMovieShowCountBaseResultMap">
        select count(*) as count ,day from (
        select to_char(UPD_TIME,'yyyy-MM-dd') as day from MOVIE_USER where STATE='2' and USER_ID=#{userId,jdbcType=VARCHAR}
        and to_char(UPD_TIME,'yyyy')=#{year,jdbcType=VARCHAR}) A
        group by A.day

    </select>

    <select id="queryBarMovieShowCount" parameterType="String" resultMap="BarMovieShowCountBaseResultMap">

        SELECT MT.TYPE type,COUNT(*) count FROM MOVIE_TYPE MT
        WHERE MT.MOVIE_ID IN (
            SELECT MI.ID FROM MOVIE_USER MU LEFT JOIN MOVIE_INFO MI ON MI.ID=MU.MOVIE_ID

            WHERE MU.USER_ID=#{userId,jdbcType=VARCHAR} AND MU.STATE='2'
        )
        GROUP BY MT.TYPE order by count

    </select>

    <select id="queryPieShowMovieYearCount" parameterType="String" resultMap="PieShowMovieYearCountBaseResultMap">

        SELECT TO_CHAR(MOVIE_SHOW_TIME,'YYYY') year FROM MOVIE_INFO WHERE ID IN (
        SELECT MOVIE_ID FROM MOVIE_USER WHERE USER_ID=#{userId,jdbcType=VARCHAR} AND STATE='2'
        )

    </select>
</mapper>