<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuer.zuerlvdoubanservice.service.MovieChartsService">
    <resultMap id="CalendarMovieShowCountBaseResultMap" type="com.zuer.zuerlvdoubancommon.charts.CalendarMovieShowCount">
        <result column="count" jdbcType="NUMERIC" property="count" />
        <result column="day" jdbcType="VARCHAR" property="day" />
    </resultMap>

    <!--查询一年之中每一天的观影量-->
    <select id="queryCalendarMovieShowCount" parameterType="java.util.Map" resultMap="CalendarMovieShowCountBaseResultMap">
        select count(*) as count ,day from (
        select to_char(UPD_TIME,'yyyy-MM-dd') as day from MOVIE_USER where STATE='2' and USER_ID=#{userId,jdbcType=VARCHAR}
        and to_char(UPD_TIME,'yyyy')=#{year,jdbcType=VARCHAR}) A
        group by A.day

    </select>
</mapper>